.icon-btn{
    margin-top: 50px;
    width: 100px;
    height: 100px;
    margin-left: 50px;

}.icon-btns{
   margin-top: 150px;
    width: 100px;
    height: 100px;
    margin-left: 125px;
}.icon-btn{
    align-items: center;
}.header-card{
    background-color: #624E88;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: black;
}
.item{
    align-items: center;
    padding-top: 200px;
}.txt{
    text-align: center;
}