<ion-header [translucent]="true">
  <ion-toolbar color="w">
    <ion-title>เลือกหมวดหมู่</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" color="a">

  <!-- Main Content -->
  <div class="item">
    <ion-card>
      <ion-row class="ion-justify-content-center">
        <ion-col size="large">
          <ion-icon
            name="cart-outline"
            style="font-size: 150px; cursor: pointer;"
            (click)="set()"
          ></ion-icon>
        </ion-col>
      </ion-row>
      <ion-label class="txt">รายการสินค้า</ion-label>
    </ion-card>
    <br>
    <ion-card>
      <ion-row class="ion-justify-content-center">
        <ion-col size="large">
          <!-- แก้ไขที่นี่ -->
          <ion-icon
            name="person-outline"
            style="font-size: 150px; cursor: pointer;"
            (click)="pro()"
          ></ion-icon>
        </ion-col>
      </ion-row>
      <ion-label class="txt">การตั้งค่า</ion-label>
    </ion-card>

    <br>
    <ion-card>
      <ion-row class="ion-justify-content-center">
        <ion-col size="large">
          <ion-icon
            name="add-outline"
            style="font-size: 150px; cursor: pointer;"
            (click)="addproduct()"
          ></ion-icon>
        </ion-col>
      </ion-row>
      <ion-label class="txt">เพิ่มสินค้า</ion-label>
    </ion-card>
  </div>

</ion-content>
