<ion-content [fullscreen]="true" color="a">
  <ion-header [translucent]="true">
    <ion-toolbar color="primary">
      <ion-title>ล็อคอิน</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="profile-container">
    <img src="assets/img/logo.png" alt="Logo" class="profile-image" />
  </div>

  <!-- Login Form -->
  <form (ngSubmit)="onLogin()">
    <ion-card color="light">
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input [(ngModel)]="email" name="email" type="email" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input [(ngModel)]="password" name="password" type="password" required></ion-input>
      </ion-item>
    </ion-card>

    <ion-button expand="block" type="submit" class="ion-margin-top ion-padding" color="primary" (click)="detail()" >
      Login
    </ion-button>
    <ion-button expand="block" color="secondary" class="ion-padding"  (click)="SignUp()">
      Sign Up
    </ion-button>
  </form>

  <!-- Sign-Up Button -->

  
</ion-content>
